@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #feffff;
  --primary-color-darker: #def2f1;
  --secondary-color: #3aafa9;
  --dark-primary-color: #17252a;
  --dark-primary-color-darker: #142226;
  --dark-secondary-color: #2b7a78;
}

.light {
  background-color: var(--primary-color);
  color: var(--dark-primary-color);
}

.light-darker {
  background-color: var(--primary-color-darker);
  color: var(--dark-primary-color);
}

.light-gradient {
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--primary-color-darker)
  );
  border-radius: 0.5rem;
  color: var(--dark-primary-color);
}

.btn-light {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.dark {
  background-color: var(--dark-primary-color);
  color: var(--primary-color-darker);
}

.dark-darker {
  background-color: var(--dark-primary-color-darker);
  color: var(--primary-color-darker);
}

.dark-gradient {
  background-image: linear-gradient(
    to right,
    var(--dark-primary-color),
    var(--dark-secondary-color)
  );
  border-radius: 0.5rem;
  color: var(--primary-color-darker);
}

.btn-dark {
  background-color: var(--dark-secondary-color);
  color: var(--primary-color-darker);
}
