@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #e7f6f2;
  --dark-primary-color: #e3faf4;
  --secondary-color: #44bffc;
}

body {
  background-color: var(--primary-color);
}
