@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #feffff;
  --primary-color-darker: #def2f1;
  --secondary-color: #3aafa9;
  --dark-primary-color: #17252a;
  --dark-secondary-color: #2b7a78;
}

html {
  scroll-snap-type: y mandatory;
}
